.wrapper {
	display: grid;
	grid-template: "header" 77px
		"body" 1fr;
}

.header {
	grid-area: header;

	height: 77px;

	background-color: var(--color-primary);
}

.body {
	grid-area: body;

	width: 1120px;
	margin: auto;
}